@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;600&family=Inter:wght@300;400;500&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", system-ui, sans-serif;
  --font-display: "Space Grotesk", system-ui, sans-serif;
  --color-brand-violet: #A78BFA;
}

body {
  background-color: #050505;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
